# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Browser Extension Builder output
*.pem
*.crx
build/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Node
node_modules/

# IDE/Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Xcode / OS X (Just in case the wrapper project is ever moved into this folder)
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
.env
env.txt
